!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= configatron.app_name
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{content: "Global community of Ruby on Rails developers on Slack.", name: "description"}/
    %link{rel: "stylesheet", type: "text/css", href: "//fonts.googleapis.com/css?family=Cabin" }
    %link{rel: "shortcut icon", type: "image/x-icon", href: "/favicon.ico" }
    %link{rel: "apple-touch-icon", href: "/apple-touch-icon.png" }
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body#home
    = yield
    %footer
      .container
        .links
          %a{:href => "https://twitter.com/railslink", :target => "_new"}= fa_icon('twitter')
          %a{:href => "https://github.com/railslink/railslink", :target => "_new"}= fa_icon('github')
        .copyright
          ©#{Time.zone.now.year} #{configatron.app_name}
